<table style="border: 1px solid black; margin:auto">
	<thead style="border-bottom: 1px solid black;">
		<tr>
			<th style="border-right: 1px solid black; width:147px">Booking Name</th>
			<th style="border-right: 1px solid black; width:181px">Email</th>			
			<th style="border-right: 1px solid black; width:147px">Contact number</th>
		</tr>
	</thead>
	<tbody>
		<% @course.payments.each do |booking| %>
			<tr>
				<td style="text-align:center; border-right: 1px solid black;"><%= booking.user.first_name %></td>
				<td style="text-align:center; border-right: 1px solid black;"><a href="mailto:<%=booking.user.email%>" %><%=booking.user.email%></td>
				<td style="text-align:center; border-right: 1px solid black;"><%= booking.user.contact_number %></td>
			</tr>
		<% end %>
	</tbody>
</table>

          <%= link_to('ADD NEW DATES', new_course_course_date_path(@course.course),:class => "logged-in-buttons dashboard") %>
