<div class="backgroud" style="background: #D2CA72;">
<table style="margin:auto; color:#e9e9e9;">
	<thead style="background:#7e7a50; color:#e9e9e9;">
		<tr>
			<th style="width:50px">	
				#
			</th>
			<th style="width:163px">
				course name
			</th>
			<th style="width:163px">
				Date
			</th>
			<th style="width:119px">
				spaces left
			</th>
			<th style="width:137px">
				payments taken
			</th>
			<th style="width:115px">
				booked people
			</th>
		</tr>
	</thead>
	<tbody>
		<% @courses.each do |course| %>
			<tr>
				<td style="text-align:center">
					1
				</td>
				<td style="text-align:center">
					<%= course.name %>
				</td>
				<td style="text-align:center">
					<%= course.Date.strftime("%m/%d/%Y") %>
				</td>
				<td style="text-align:center">	
					<%= course.quantity %>
				</td>
				<td style="text-align:center">
					<%= course.payments.count %>
				</td>
				<td>
					<%= link_to('course', course_course_details_path(course.id)) %>
				</td>
			</tr>			
		<% end %>
	</tbody>

</table>    
</div>