<div class="content" style="min-height: 500px;">
	<%# render "normal_user_modal" %>
	<%= render "company_user_modal" %>
	<div class="ui segment" style="width: 50%; margin: auto; position: relative; margin-bottom:60px; margin-top:50px">
		<div class="ui form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "new_user",:class => 'ui form company user'}) do |f| %>
        <%= devise_error_messages! %>
        <h4 class="ui dividing header">Account Information</h4>
            <%= f.hidden_field :admin, :value => true %>
        <div class="two fields">
          <div class="field">
            <%= f.text_field :first_name, :placeholder => 'First Name *' %>
          </div>
          <div class="field">
            <%= f.text_field :last_name, :placeholder => 'Last Name *' %>
          </div>
        </div>
        <div class="field">
          <%= f.email_field :email, :placeholder => 'Email *', :id => "signUpEmail" %>
        </div>
        <div class="field">
          <%= f.text_field :contact_number, :placeholder => 'Contact Number *' %>
        </div>
        <div class="field">
          <%= f.password_field :password, :placeholder => 'Password *', autocomplete: "off", :id => "signUpPassword" %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password *', autocomplete: "off" , :id => "signUpPasswordConfirmation"%>
        </div>
        <h4 class="ui dividing header">Company Information</h4>
        <div class="field">
          <%= f.text_field :company_name, :placeholder => 'Company Name *' %>
        </div>
        <div class="field" style="text-align:center">
            <%= f.submit "Sign Up", :class => "ui positive button" %>
        </div>
      <% end %>
	</div>
</div>