<div class="background">
  <% if @course_provider %>
    <h2 style="text-align:center; margin-top:0px;">SIGN UP AS A COURSE PROVIDER</h2>
  <% end %>  


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">      
      <%= f.text_field :first_name, :placeholder => 'FIRST NAME', autofocus: true %>
    </div>

    <div class="field">      
      <%= f.text_field :last_name, :placeholder => 'LAST NAME', autofocus: true %>
    </div>
   

    <div class="field">      
      <%= f.email_field :email, :placeholder => 'EMAIL', autofocus: true %>
    </div>
  
    <%= f.hidden_field  :type %>        
    
    <% if @member %>
      <p>I am a member</p>
    <% end %>
    <% if @course_provider %>
      <div class="field">            
        <%= f.text_field  :company_name, :placeholder => 'COMPANY NAME' %>    
      </div>
    <% end %>

    <div class="field">
      <%= f.file_field :avatar %>
    </div>    

    <div class="field">          
      <%= f.password_field :password, :placeholder => 'PASSWORD (MIN 8 CHARACTERS)', autocomplete: "off" %>
    </div>

    <div class="field">      
      <%= f.password_field :password_confirmation, :placeholder => 'CONFIRM PASSWORD', autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>