<div class="ui inverted footer vertical segment" style="background-color: #36464f !important; margin-top:20px;">
  <div class="container">
    <div class="ui stackable inverted divided relaxed grid">
      <div class="eight wide column">
      	<h2 class="ui inverted header">About</h2>
      	<p>At Courseiam, we make it really easy for people to find and book their chosen course, using our integrated booking and administration system for Course Providers.</p>
      	<div class="ui inverted divided link horizontal list">
				  <%= link_to "About", about_path, :class => "item"  %>
				  <%= link_to "FAQ", faq_path, :class => "item"  %>
				</div>
      </div>
      <div class="four wide column">
        <h5 class="ui teal inverted header"></h5>
        <div class="ui inverted link list">
          <%= link_to "About", about_path, :class => "item"  %>
          <%# link_to "Offer", offer_path, :class => "item"  %>
          <%= link_to "FAQ", faq_path, :class => "item"  %>
          <%= link_to "How it Works", how_it_works_path, :class => "item"  %>
        </div>
      </div>
      <div class="four wide column">
        <h5 class="ui teal inverted header"></h5>
        <div class="ui inverted link list">
          <a class="item">Facebook</a>
          <a class="item">Twitter</a>
          <a class="item">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</div>
