<div class="ui top attached demo menu web">
  <%= link_to("Logo", root_url, :class => "item logo") %>
  <%= link_to("Discover", course_dates_path, :class => "item") %>
  <%# link_to("Offer", offer_path, :class => "item") %>
  <% if signed_in? %>
    <% if current_user.admin? || nil%>
      <%= link_to( "<i class='user icon'></i>Dashboard".html_safe, dashboard_path, :class => "item" ) %>
    <% end %>
    <%= link_to("<i class='sign in icon'></i>Log out".html_safe, destroy_user_session_path, :method => :delete, :class => "item right") %>
  <% else %>
    <a class="item right" id="signIn">
      <i class="user icon"></i>
      Sign in
    </a>
    <%= link_to("<i class='sign in icon'></i>Sign up".html_safe, new_user_registration_path, :class => "item right") %>
  <% end %>
    <div class="ui pointing dropdown link item" style="float:right ">
      <i class="dropdown icon"></i>
      <span class="text">About</span>
      <div class="menu">
        <%= link_to "About us", about_path ,:class => "item" %>
        <%= link_to "FAQ's", faq_path ,:class => "item" %>

      </div>
    </div>
</div>