<% @user.courses.each do |course| %>			
	<%= course.name %>
	<%= link_to('add date', new_course_course_date_path(course.id)) %>
	<div id="newCourse-<%= course.id -%>" class="ui button labeled icon basic">
		<i class="icon pencil"></i>
		Add date 
	</div>
	<div class="ui modal" id="courseModal">
	  <i class="close icon"></i>
	  <div class="header">
	    <%= course.name %>
	    <br>
	    <%= course.id %>
	  </div>
	  <div class="content">	    
	  </div>
	  <div class="actions">	    
	  </div>
	</div>
	<br>
	<script>
		$("#courseModal").modal('attach events', '#newCourse-<%= course.id -%>', 'show');
	</script>
<% end %>
