<!DOCTYPE html>
<html>
  <head>
    <title>CommunityMarketplace</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application", "data-turbolinks-track" => true %>
  	<%= tag :meta, :name => "stripe-key", :content => Rails.application.secrets.stripe_public_key %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
		<div id="articles">
			<h2 id="month">
		    <%= link_to "<", date: @date.prev_month %>
		    <%= @date.strftime("%B %Y") %>
		    <%= link_to ">", date: @date.next_month %>
		  </h2>
		  <%= calendar @date do |date| %>
		    <%= date.day %>
				<% if @calender_dates[date] %>
					<ul>
						<% @calender_dates[date].each do |course_date| %>
							<li><%= link_to course_date.course.name, course_date.course %></li>
						<% end %>
					</ul>
				<% end %>
		  <% end %>
		</div>
	</body>
</html>


