<!DOCTYPE html>
<html>
  <head>
    <title>CommunityMarketplace</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application", "data-turbolinks-track" => true %>
  	<%= tag :meta, :name => "stripe-key", :content => Rails.application.secrets.stripe_public_key %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	  <script>
	  $(function() {
	    $( document ).tooltip();
	  });
	  </script>
	  <style>
	  label {
	    display: inline-block;
	    width: 5em;
	  }
	  </style>
  </head>
  <body style="background:#ffffff">
  	<p><a href="#" title="That&apos;s what this widget is">Tooltips</a> can be attached to any element. When you hover
the element with your mouse, the title attribute is displayed in a little box next to the element, just like a native tooltip.</p>
		<div id="articles">
			<h2 id="month">
		    <%= link_to "<", date: @date.prev_month %>
		    <%= @date.strftime("%B %Y") %>
		    <%= link_to ">", date: @date.next_month %>
		  </h2>
		  <%= calendar @date do |date| %>
		    <%= date.day %>
				<% if @calender_dates[date] %>
					<ul>
						<% @calender_dates[date].each do |course_date| %>
								<li>
									<p>
										<!-- <a href="#" title="That&apos;s what this widget is"><%= course_date.course.name %></a> -->
										<%= link_to course_date.course.name, course_date.course, { :title => "That&apos;s what this widget is" } %>
									</p>
								</li>
						<% end %>
					</ul>
				<% end %>
		  <% end %>
		</div>
	</body>
</html>


