<ul class="large-block-grid-4" style="margin:10px;">
	<% @course_providers.each do |user| %>
		<li class="course-provider-card">
			<div class="course-provider-name">
				<%= user.company_name %>
			</div>
			<div class="course-provider-image">
				<%= image_tag user.avatar.url(:medium), :class => "course-provider-avatar" %>				
			</div>
			<div class="social-networks">
				<%= image_tag 'facebook-black.png', :class => "facebook-logo"%>
				<%= image_tag 'twitter-black.png', :class => "facebook-logo"%>
				<%= image_tag 'instagram-black.png', :class => "facebook-logo"%>
			</div>
			<div class="course-provider-site">
				<%= user.company_website %>
			</div>
		</li>
	<% end %>
</ul>


