<div class="course-form" style="width: 80%; margin:auto">
		<%= form_for @user, :multipart => true, :html => {:class => 'ui form edit user fluid '} do |form|  %>
	<div class="ui segment" style="display:block">
		<h2 style="display:inline-block">Edit Company Information </h2>
		<%# form.submit :style =>"float:right; width:250px; display:inline-block; margin: 2rem 0em", :class => "ui inverted green button" %>
		<div class="ui divider" style="margin-top: 50px; margin-bottom: 25px;"></div>
		<div class="ui circular labels">
		  <a class="ui label" style="display:inline-block; font-size: 1.8571rem;">
		    1
		  </a>
			<h2 style="display:inline-block">Company details</h2>
		</div>
			<div class="ui form" style="max-width: 73%; margin: auto;">
				<div class="two fields">
				  <div class="field">
				    <label>First Name</label>
				    <%= form.text_field :first_name %>
				  </div>
				  <div class="field">
				    <label>Last Name</label>
				    <%= form.text_field :last_name %>
				  </div>
				</div>
			  <div class="field">
			    <label>Email</label>
			    <%= form.text_field :email %>
			  </div>
			  <div class="field">
			    <label>Company name</label>
			    <%= form.text_field :company_name %>
			  </div>
			  <div class="field">
			    <label>Contact number</label>
			    <%= form.text_field :contact_number %>
			  </div>
			  <div class="field">
			    <label>About your Company</label>
			    <%= form.cktext_area :description %>
			  </div>
			  <div class="two fields">
				  <div class="field">
				    <label>Facebook Handle</label>
				    <%= form.text_field :facebook %>
				  </div>
				  <div class="field">
				    <label>Twitter Handle</label>
				    <%= form.text_field :twitter %>
				  </div>
				</div>
				<div class="two fields">
				  <div class="field">
				    <label>Instagram Handle</label>
				    <%= form.text_field :instagram %>
				  </div>
				  <div class="field">
				    <label>Company Website</label>
				    <%= form.text_field :company_website %>
				  </div>
				</div>
			  <!-- start date time and end date time  -->
			  <div class="field">
			  	<h3>Upload image</h3>
	      	<img id="blah" src="#" alt="" class="ui small bordered image" style="display:inline-block" />
	      	<%= form.file_field :avatar, :id => "imgInp"%>
	      	<%= form.hidden_field :avatar_cache %>
	      	<%# form.file_field :avatar, :id => "imgInp"%>
	      	<%# form.hidden_field :avatar_cache %>
			  </div>
			</div>
			<div class="ui divider" style="margin-top: 100px; margin-bottom: 25px;"></div>
			<div class="ui segment">
				<%= form.submit :style =>"float:right; width:250px", :class => "ui inverted green button" %>
				<br>
				<div class="ui error message"></div>
			</div>
		<% end %>
	</div>
</div>




<script>
	  function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();

	        reader.onload = function (e) {
	            $('#blah').attr('src', e.target.result);
	        }

	        reader.readAsDataURL(input.files[0]);
	    }
	}

	$("#imgInp").change(function(){
	    readURL(this);
	});
</script>