<nav class="top-bar" data-topbar role="navigation" style="background:#101617">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= @user.company_name %></a></h1>
    </li>    
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="/courses/new">Create New Course</a></li>
      <li class="has-dropdown">
        <a href="#">Account</a>
        <ul class="dropdown">      
          <li><%= link_to('Edit Account Details', edit_user_path(@user)) %></li>
          <li><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <!-- <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul> -->
  </section>
</nav>


<div class="backgroud" style="background: #D2CA72;">
<table style="margin:auto; color:#e9e9e9; position: relative; top:40px;">
	<thead style="background:#7e7a50; color:#e9e9e9;">
		<tr>
			<th style="width:50px">	
				#
			</th>
			<th style="width:163px">
				course name
			</th>
			<th style="width:163px">
				Date
			</th>
			<th style="width:119px">
				spaces left
			</th>
			<th style="width:137px">
				payments taken
			</th>
			<th style="width:115px">
				booked people
			</th>
		</tr>
	</thead>
	<tbody>	

		<% @user.courses.each do |course| %>
			<%= course.name %>
			<% course.course_dates.each do |course_dates| %>

			<tr>
				<td style="text-align:center">
					1
				</td>
				<td style="text-align:center">
					<%= course_dates.course.name %>					
				</td>
				<td style="text-align:center">
					<%= course_dates.dates.strftime("%m/%d/%Y") %>
				</td>
				<td style="text-align:center">
					<%= course_dates.quantity %>						
				</td>
				<td style="text-align:center">
					<%= course_dates.payments.count %>
				</td>
				<td>
					<%= link_to('course', course_course_details_path(course.id)) %>
				</td>
			</tr>			
			<% end %>
		<% end %>
	</tbody>

</table>    
</div>