<p>Hi, <%= @payment.bookings.last.name %></p>
<p>Your booking of <%= @payment.ticket.course_date.course.name %> is complete.</p>
<p>Your ticket number is <%= @payment.order.id %>.</p>
<p><%= @course.confirmation_emails.last.content.html_safe%></p>
=========================================================
<p style="font-weight:bold">Booking Details:</p>
<% @booking_dates.each do |date| %>
	<p><span style="font-weight:bold">Date:</span> <%= date.course_date.start_date_time.strftime("%A, %d %b %Y %l:%M %p") %> </p>
	<% @payment.ticket.course_date.course.course_addresses.each do |address|%>
	<p><span style="font-weight:bold">Location: </span><a href="http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{address.latitude}%2C#{address.longitude}"><%= date.course_date.course.address %></a></p>
	<% end %>
<% end %>
=========================================================
<p style="font-weight:bold">Ticket Information:</p>
<table width="350" style="margin:auto;">
	<tbody>
		<tr>
			<td width="150"><%= @payment.ticket.name %></td>
			<td width="100"><%= number_to_currency(@payment.amount_paid, :precision => 2, :unit => "£") %> x 1</td>
			<td width="100"><%= number_to_currency(@payment.amount_paid, :precision => 2, :unit => "£") %></td>
		</tr>
	</tbody>
</table>
<p style="margin-bottom: 25px;">Please contact <%= @course.user.company_name %> if you have any questions before the course.</p>