<p>Hi, <%= @payment.bookings.last.name %></p>
<p>Your booking of <%= @payment.ticket.course_date.course.name %> is complete.</p>
<p>Your ticket number is <%= @payment.order.id %>.</p>
<p><%= @course.confirmation_emails.last.content.html_safe%></p>
=========================================================
<p style="font-weight:bold">Booking Details:</p>
<% @booking_dates.each do |date| %>
	<p><span style="font-weight:bold">Date:</span> <%= date.course_date.start_date_time.strftime("%A, %d %b %Y %l:%M %p") %> </p>
	<p><span style="font-weight:bold">Location:</span>  <%= date.course_date.course.address %>  </p>
<% end %>
=========================================================
<p style="font-weight:bold">Ticket Information:</p>
<table width="350" style="margin:auto">
	<tbody>
		<tr>
			<td width="150"><%= @payment.ticket.name %></td>
			<td width="100"><%= @payment.amount_paid.to_s %> x 1</td>
			<td width="100"><%= @payment.amount_paid.to_s %></td>
		</tr>
	</tbody>
</table>
<p>Please contact <%= @course.user.company_name %> if you have any questions before the course.</p>