<div style="width:100%; text-align:center">
	<%= image_tag(@course.user.avatar_url(:thumb))%>
</div>
<br>
<p>Hi, <%= @payment.bookings.last.name %></p>
<br>
<p>Thank you for booking a course with <%= @course.user.company_name %>. The details of your course are as follows:</p>
<br>
<p><span style="font-weight:bold">Course name: </span><%= @course.name %></p>
<% @payment.ticket.course_date.course.course_addresses.each do |address|%>
	<% @booking_dates.each do |date| %>
		<p><span style="font-weight:bold">Location: </span><a href="http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{address.latitude}%2C#{address.longitude}"><%= date.course_date.course.address %></a></p>
		<p><span style="font-weight:bold">Date:</span> <%= date.course_date.start_date_time.strftime("%A, %d %b %Y %l:%M %p") %> </p>
	<% end %>
<% end %>
<p><span style="font-weight:bold">What to bring:</span><%= @course.what_to_bring %></p>
<p><span style="font-weight:bold">What to wear:</span><%= @course.what_to_wear %></p>
<br>
<p>We look forward to seeing you at the course.</p>
<% unless @course.confirmation_emails.last.nil? %>
	<p style="font-weight:bold">Extra info:</p>
	<p><%= @course.confirmation_emails.last.content.html_safe%></p>
<% end %>
<br>
<p>Kind regards</p>
<p><%= @course.user.company_name %></p>
<p><%= @course.user.email %></p>
<p><%= @course.user.contact_number %></p>



