<%# raise @payment.bookings.inspect %>
<p><%= @payment.bookings.last.name %> has just purchased a ticket for <%= @course.name %> for the follwing dates</p>

<% @booking_dates.each do |date| %>
	<p><%= date.course_date.start_date_time.strftime("%A, %d %b %Y %l:%M %p") %></p>
<% end %>
<p><strong>Details</strong></p>
<p>Name: <%= @payment.bookings.last.name %></p>
<p>Amount Paid <%= @payment.ticket.price %></p>
<p>Email: <%= @payment.bookings.last.email %></p>
<p>Conatct Number: <%= @payment.bookings.last.contact_number %></p>
<% unless @payment.bookings.last.age.nil? %>
	<p>Age: <%= @payment.bookings.last.age %></p>
<% end %>