<div style="min-height:500px">
	<%= form_for [@ticket, @order], :html => {:class => 'ui form payment fluid '} do |f| %>
		<%= f.text_field :ticket_id %>
		<%= f.fields_for(:bookings) do |booking|%>
			<%= booking.text_field :order_id %>
			<%= booking.text_field :name %>
			<%= booking.fields_for(:booking_dates) do |date| %>
				<%= date.select :course_date_id, options_from_collection_for_select(@course_dates, :id, "select_date"), { :include_blank=>true }, {:class => 'ui dropdown'}%>
			<% end %>
		<% end %>
	<% end %>
</div>