<div class="ui top banner test ad homepage-category __blue" data-text="Top Banner">
	<%# image_tag "london-skyline.png", :style => "width: 100%; position: absolute; height: 100%;" %>
	<h1 class="header">Browse by Category</h1>
	<div class="category-content">
		<div class="ui fade reveal category">
			<%= link_to "", course_dates_path, :class => "category-link" %>
		  <%= image_tag "art-and-crafts.png", :class => "visible content" %>
		  <div class="hidden content">
		  	<h2 class="category-title">Arts & Crafts</h2>
		  </div>
		</div>
		<div class="ui fade reveal category">
			<%= link_to "", course_dates_path, :class => "category-link" %>
		  <%= image_tag "food-drink.png", :class => "visible content" %>
		  <div class="hidden content">
		  	<h2 class="category-title">Food & Drink</h2>
		  </div>
		</div>
		<div class="ui fade reveal category">
			<%= link_to "", course_dates_path, :class => "category-link" %>
		  <%= image_tag "well-being-health.png", :class => "visible content" %>
		  <div class="hidden content">
		  	<h2 class="category-title">Health & Wellbeing</h2>
		  </div>
		</div>
		<div class="ui fade reveal category">
			<%= link_to "", course_dates_path, :class => "category-link" %>
		  <%= image_tag "nightlife.png", :class => "visible content" %>
		  <div class="hidden content">
		  	<h2 class="category-title">Music</h2>
		  </div>
		</div>
		<div class="ui fade reveal category">
			<%= link_to "", course_dates_path, :class => "category-link" %>
		  <%= image_tag "knowledge.png", :class => "visible content" %>
		  <div class="hidden content">
		  	<h2 class="category-title">Other</h2>
		  </div>
		</div>
	</div>
</div>