<div class="row">
	<div class="ui top banner test ad homepage-banner" data-text="Top Banner">
		<%= image_tag "banner-test.jpg", :style => "width: 100%; position: absolute;" %>
		<div class="content">
			<h1>Hello World</h1>
			<p>Little text of description</p>
			<div class="ui green button">Discover Button</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="sub-content">
		<h1 class="about-content header">Discover the best courses around you</h1>
		<h1 class="about-content">We have everything you need to list, discover amd book your courses</h1>
	</div>
</div>
<div class="row">
	<div class="ui top banner test ad homepage-category __blue" data-text="Top Banner">
		<%= image_tag "london-skyline.jpg", :style => "width: 100%; position: absolute; height: 590px;" %>
		<h1 class="header">Browse by Category</h1>
		<div class="category-content">
			<div class="ui fade reveal category">
			  <%= image_tag "art-and-crafts.jpg", :class => "visible content" %>
			  <div class="hidden content">
			  	<h2 class="category-title">Arts & Crafts</h2>
			  </div>
			</div>
			<div class="ui fade reveal category">
			  <%= image_tag "food-drink.jpg", :class => "visible content" %>
			  <div class="hidden content">
			  	<h2 class="category-title">Food & Drink</h2>
			  </div>
			</div>
			<div class="ui fade reveal category">
			  <%= image_tag "well-being-health.jpg", :class => "visible content" %>
			  <div class="hidden content">
			  	<h2 class="category-title">Health & Wellbeing</h2>
			  </div>
			</div>
			<div class="ui fade reveal category">
			  <%= image_tag "nightlife.jpg", :class => "visible content" %>
			  <div class="hidden content">
			  	<h2 class="category-title">Music</h2>
			  </div>
			</div>
			<div class="ui fade reveal category">
			  <%= image_tag "knowledge.jpg", :class => "visible content" %>
			  <div class="hidden content">
			  	<h2 class="category-title">Other</h2>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="content" style="width: 100%; height:300px;">
	</div>
</div>