<h3 style="text-align:center; margin-bottom:6px;">Ticket information</h3>
<h3 class="subtotal" style="font-size:14px">(<%= @ticket.name %>)</h3>
<h3 class="subtotal">Subtotal: <%= number_to_currency(@ticket.price, :precision => 2, :unit => "£") %></h3>
<% if @payment.ticket.absorb_fee == false %>
	<h3 class="booking-fee">Booking Fee: <%= number_to_currency(@payment.ticket_fee , :precision => 2, :unit => "£")%></h3>
<% end %>
<div class="ui divider" style="width: 90%; margin: auto; border-top: 1px solid #dadada; margin-top: 15px;"></div>
<h3 class="overall-price">Overall Price: <%= number_to_currency(@payment.overall_payment , :precision => 2, :unit => "£")  %></h3>
<div class="ui divider" style="width: 90%; margin: auto; border-top: 1px solid #dadada; margin-top: 15px;"></div>
<div class="company_logo" style="text-align:center">
	<%= image_tag (@ticket.course_date.course.user.avatar_url(:thumb)), :style => "border-radius:10px;	;margin-top: 21px;"%>
	<h1 class="course-address">Brought to you by <span style="font-weight:bold"><%= @ticket.course_date.course.user.company_name %></span></h1>
</div>