<div class="two column stackable ui grid" style="margin:0px;">
  <div class="column twelve wide">
    <div class="ui segment">
      <a class="ui teal ribbon label"><i class="shop icon"></i>Secure Checkout</a>
      <div class="ui segment">      
        <a class="ui blue ribbon label">Ticket Information</a>
        <div class="three column stackable ui grid">
          <div class="column sixteen wide">          
            <%= @payment.course_date.course.name %>
          </div>
          <div class="column">          
            <%= @payment.course_date.course.address %> 
          </div>
          <div class="column">          
            <%= @payment.course_date.start_date.strftime("%m/%d/%Y") %>
            <br>
            <%= @payment.course_date.start_date.strftime("%l:%M %p") %>
          </div>
          <div class="column">          
            £<%= @payment.course_date.course.price %>  x
          </div>
        </div>                
      </div>
      <div class="ui segment">
        <a class="ui blue ribbon label">Registration Information</a>
        <div class="ui segment" style="width: 80%; margin: auto; margin-top: 20px">
          <div class="ui form">
            <div class="inline field required">
              <label style="width:30%">Email Address</label>
              <input type="text" style="width: 60%;">
            </div>
            <div class="inline field required">
              <label style="width:30%">First & Last Name</label>
              <input type="text" style="width: 60%;">
            </div>
            <div class="inline field required">
              <label style="width:30%">Mobile Number</label>
              <input type="text" style="width: 60%;">
            </div>
          </div>
        </div>
        <div class="ui segment" style="width: 80%; margin: auto; margin-top: 20px">
          <div class="ui form">
            <div class="inline field">
              <label style="width:30%">Special Requests?</label>
              <input type="text" style="width: 60%;">
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">   
        <a class="ui blue ribbon label">Billing & Payment Information</a>
        <div class="ui segment" style="width: 80%; margin: auto; margin-top: 20px">
          <div class="ui form">
            <div class="inline field">
              <label style="width:30%; font-weight:lighter;">Billing Information</label>
            </div>
            <br>
            <div class="inline required field">
              <label style="width:30%">Email Address</label>
              <input type="text" style="width: 60%;">
            </div>
            <div class="inline required field">
              <label style="width:30%">First & Last Name</label>
              <input type="text" style="width: 60%;">
            </div>
            <div class="inline field">
              <label style="width:30%; font-weight:lighter;">Payment Information</label>
            </div>
            <br>
            <div class="inline required field">
              <label style="width:30%">Name on Card</label>
              <input type="text" style="width: 60%;">
            </div>
            <div class="inline required field">
              <label style="width:30%">Expiry Date</label>
              <input type="text" style="width: 60%;">
            </div>
            <div class="inline required field">
              <label style="width:30%">Security Code</label>
              <input type="text" style="width: 60%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column four wide">
    <div class="ui segment">
      <a class="ui blue ribbon label">Booking Information</a>      
      <div class="column">
        <div class="ui header" style="margin-top:10px;">          
          <div style="text-align:left" class="content">
            <h4 class="ui header" style=" border-bottom: 1px solid rgba(39, 41, 43, 0.15);">Course</h4>
            <div class="sub header">
              <p style="font-size: 0.9em;"><%= @payment.course_date.course.name %></p>
              <p style="font-size: 0.8em;">Offered by "company name"</p>
            </div>
          </div>
        </div>
      </div> 
      <div class="column">
        <div class="ui header" style="margin-top:10px;">          
          <div style="text-align:left" class="content">
            <h4 class="ui header" style=" border-bottom: 1px solid rgba(39, 41, 43, 0.15);">Tickets</h4>
            <div class="sub header">
              <p style="font-size: 0.9em;">ticket quantity @ <span style="font-weight:bold; color:black">£<%= @payment.course_date.course.price %></span></p>              
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

