<div class="ui small modal" id="monthlySummary">
  <i class="close icon"></i>
  <a class="ui blue label" style="margin-bottom:20px; margin-left: 0px;">
    <h4 class="ui header" style="color:white">Account Balance</h4>
  </a>
  <div class="content">
    <table class="ui definition table">
      <tbody>
        <tr>
          <td class="ten wide column">Revenue</td>
          <td><%= number_to_currency(@revenue , :precision => 2, :unit => "£")  %></td>
        </tr>
        <tr>
          <td>All Bookings Fees</td>
          <td class="booking_fees"><%= number_to_currency(@user.all_fees , :precision => 2, :unit => "£")  %></td>
        </tr>
        <tr>
          <td>Fees Outstanding</td>
          <td class="fees_outstanding"><%= number_to_currency(@user.outstanding_fees , :precision => 2, :unit => "£")  %></td>
        </tr>
        <tr>
          <td>Account Balance</td>
          <td class="account_balance"><%= account_balance(@user) %></td>
        </tr>
      </tbody>
    </table>
    <% if account_balance(@user) == "£0.00" %>
      <p>You have no funds to deposit</p>
    <% else %>
      <p>Click the button to request funds into your chosen bank account</p>
      <%= link_to("Transfer Funds", withdraw_dashboard_path, :class => "ui green transfer button", :style => "float:right", :id => "transferFunds") %>
    <% end %>
  </div>
</div>


<script>
  $('#transferFunds').click(function() {
    $('.green.transfer.button').addClass('loading');
  });
</script>