<%= render "monthly_summary_modal" %>
<div class="ui segment">
	<div class="two column stackable ui grid">
		<div class="column thirteen wide">
			<div class="ui top attached tabular menu">
		    <a class="active item" data-tab="first">Active Courses (<%= @courses.count %>) </a>
		    <a class="item" data-tab="second">All Courses (<%= @all_courses.count %>) </a>
		    <!-- <a class="item" data-tab="third">Unactive Courses (1) </a> -->
		  </div>
			<div class="ui bottom attached active tab segment" data-tab="first">
			  <%= render "active_course_list" %>
			</div>
			<div class="ui bottom attached tab segment" data-tab="second">
				<%= render "all_course_list" %>
			</div>
		</div>
		<div class="column three wide">
			<%= render "templates/quick_links" %>
		</div>
	<!-- <div class="ui bottom attached tab segment" data-tab="third">
	  Third
	</div> -->
	</div>
</div>