<%# form_tag(bookings_dashboard_path, :method => "get", id: "search-form") do %>
  <%# text_field_tag :search, params[:search], placeholder: "Search Bookings" %>
  <%# submit_tag "Search" %>
<%# end %>
<%= link_to 'Download <i class="download icon"></i>'.html_safe, all_bookings_csv_dashboard_path(format: :csv), :class => "ui button " %>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Name</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
	  <% @booking_dates.each do |date| %>
	    <tr>
        <td><%= date.course_date.course.name %><br/> <%= date.course_date.start_date_time.strftime("%A, %d %b %Y %l:%M %p") %></td>
	    	<td><%= date.booking.name %></td>
        <td><%= date.booking.email %><br/><%= date.booking.contact_number %></td>
	    </tr>
    <% end %>
  </tbody>
</table>