<%# form_tag(bookings_dashboard_path, :method => "get", id: "search-form") do %>
  <%# text_field_tag :search, params[:search], placeholder: "Search Bookings" %>
  <%# submit_tag "Search" %>
<%# end %>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Event</th>
      <th>Name</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
	  <% @booking_dates.each do |date| %>
	    <tr>
        <td><%= date.course_date.course.name %><br/> <%= date.course_date.start_date.strftime("%A, %d %b %Y %l:%M %p") %></td>
	    	<td><%= date.booking.name %></td>
        <td><%= date.booking.email %><br/><%= date.booking.contact_number %></td>
	    </tr>
    <% end %>
  </tbody>
</table>