<div class="ui modal" id="allCourses">
  <i class="close icon"></i>
  <div class="header">
    All my Courses
  </div>
  <div class="content">            

    <table class="ui celled striped table">
      <thead>
        <tr>
          <th class="five wide">Course Name</th>
          <th class="three wide">Dates Created</th>
          <th class="three wide">Active Dates</th>
          <th class="three wide">Payments Taken</th>
          <th class="one wide">Edit Course</th>
          <th class="one wide">Add Course Date</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>        
          <tr>              
            <td ><%= course.name.truncate(30) %></td>
            <td ><%= course.course_dates.count %></td>
            <td ><%=course.upcoming_dates.count%></td>
            <td ><%= course.course_dates(&:payments?).count %></td>
            <td ><%= link_to("<i class='edit icon' style='margin:auto; display:block'></i>".html_safe ,edit_course_path(course.id))%></td>
            <td ><%= link_to("<i class='add icon' style='margin:auto; display:block'></i>".html_safe, new_course_course_date_path(course.id)) %></td>
          </tr>
        <% end %>                  
      </tbody>
    </table>

  </div>

  <div class="actions">
    <div class="ui black button">
      Nope
    </div>
    <button type='submit' form='ticket_form' class="ui positive right labeled icon button">
      Create a new course
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>