<% if flash[:notice] %>
	<div class="ui green message" id="notice" style="margin-bottom:0px;"><%= notice %></div>
<% end %>
<%= render "account_details" %>
<div class="two column stackable ui grid dashboard" style="height:100%; background-color: #36464f;">
	<div class="column four wide" style="height: 100%">
		<%= render "layouts/dashboard_sidenav" %>
	</div>
	<div class="column twelve wide" style="height: 100%; background:white;">
		<div class="row" style="padding-bottom:30px;">
			<h1 class="header">Course Management</h1>
			<h3 class="header sub-heading">Manage your courses and check your event analytics</h3>
		</div>
		<div class="ui pointing secondary menu">
	    <a class="active item" data-tab="first" style="width:33.3%; text-align:center;font-size: 18px;">Upcoming Dates</a>
	    <a class="item" data-tab="second" style="width:33.3%; text-align:center;font-size: 18px;">Previous Dates</a>
	    <a class="item" data-tab="third" style="width:33.3%; text-align:center;font-size: 18px;">Course List</a>
	  </div>
		<div class="ui active tab" data-tab="first">
		  <%= render "upcoming_dates" %>
		</div>
		<div class="ui tab" data-tab="second">
		  <%= render "previous_dates" %>
		</div>
		<div class="ui tab" data-tab="third">
		  <%= render "course_list" %>
		</div>
	</div>
</div>

