<%= link_to 'Download <i class="download icon"></i>'.html_safe, months_transactions_csv_dashboard_path(format: :csv), :class => "ui button " %>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Transaction Date</th>
      <th>Name</th>
      <th>Paid</th>
      <th>Fee</th>
      <th>Net Profit</th>
    </tr>
  </thead>
  <tbody>
	  <% @monthly_payments.each do |payment| %>
	    <tr>
	    	<td><%= time_ago_in_words(payment.created_at)%> ago</td>
	    	<td><%= payment.bookings.last.name %></td>
	    	<td><%= payment.amount_paid %></td>
	    	<td><%= payment.booking_fee %></td>
	    	<td><%= payment.profit %></td>
	    </tr>
    <% end %>
  </tbody>
</table>