<%= link_to 'Download <i class="download icon"></i>'.html_safe, months_transactions_csv_dashboard_path(format: :csv), :class => "ui button " %>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Transaction Date</th>
      <th>Name</th>
      <th>Paid</th>
      <th>Fee</th>
      <th>Net Profit</th>
    </tr>
  </thead>
  <tbody>
	  <% @monthly_payments.each do |payment| %>
	    <tr>
        <td><%= time_ago_in_words(payment.created_at)%> ago</td>
        <td><%= payment.bookings.last.name %></td>
        <% if payment.amount_paid.to_s == "0.0" %>
          <td><%= number_to_currency(payment.ticket.price, :precision => 2, :unit => "£") %></td>
        <% else %>
          <td><%= number_to_currency(payment.amount_paid, :precision => 2, :unit => "£") %></td>
        <% end %>
        <% if payment.ticket_fee.to_s == "0.0" %>
          <td><%= number_to_currency((payment.ticket.price * 0.04), :precision => 2, :unit => "£") %></td>
        <% else %>
          <td><%= number_to_currency(payment.ticket_fee, :precision => 2, :unit => "£") %></td>
        <% end %>
        <td><%= number_to_currency(payment.profit, :precision => 2, :unit => "£") %></td>
      </tr>
    <% end %>
  </tbody>
</table>