<div class="ui small modal book_date" id="courseDates">
  <i class="close icon"></i>
  <a class="ui blue label" style="margin-left: -10px; margin-top: 10px;"><h4 class="ui header" style="color:white">Ticket Information</h4></a>
  <div class="content" style="padding-top:0px;">
    <h3><%= @course.name%></h3>
    <div class="ui segment" style="padding-top:0px;">
      <%# form_tag course_tickets_path(@course), id: 'ticket_form' do %>
        <%#  select_tag 'start_date', options_from_collection_for_select(@course.upcoming_dates, :id, :pretty_date) %>
        <!-- Quantity: <%# text_field_tag @course.course_date.payment, '0' %> -->
      <%# end %>
      <ul class="course-dates">
      <li class="header" style="padding-bottom: 0px;">
        <div class="ui grid">
          <div class="five wide column">Date & Location</div>
          <div class="four wide column center" style="padding-top:1rem !important">Ticket</div>
          <div class="two wide column center">Price</div>
          <div class="five wide column center">Book Date</div>
        </div>
        <div class="ui divider"></div>
      </li>

      <% if @course.upcoming_date == nil %>
        <h3>There are no course dates available for this course yet</h3>
      <% else %>
      <% @course.upcoming_dates.each do |date|%>
      <li>
        <div class="ui grid">
          <div class="five wide column">
            <i class="calendar icon"></i>
            <%= date.start_date.strftime("%d/%m/%Y") %>
            <br>
            <br>
            <i class="marker icon"></i>
            <%= date.course.address.truncate(10) %>
          </div>
          <div class="eleven wide column center" style="padding: 0px; padding-top: 1rem;">
            <% date.tickets.each do |ticket| %>
              <div class="row" style="display: block; width: 100%; min-height: 50px; margin-bottom: 10px;">
                <p style="text-transform:lowercase;display:inline-block;float:left;width:34%;max-width: 34%;"><%= ticket.name %></p>
                <p style="text-transform:lowercase;display:inline-block;float:left;width:25%;max-width: 25%;"><%= number_to_currency(ticket.price, :precision => 2, :unit => "£")%></p>
                <% if ticket.places_left <= 0%>
                  Sold Out!
                <% else %>
                  <% if ticket.number_of_dates > 1 %>
                    <%= link_to("Choose Dates", new_ticket_payment_path(ticket.id), :class => "ui positive labeled button", :style => "display:inline-block;float: right; width:37%; max-width:37%;" )%>
                  <% else %>
                    <%= link_to("Book Now", new_ticket_payment_path(ticket.id), :class => "ui positive labeled button", :style => "display:inline-block;float: right; width:37%; max-width:37%;" )%>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
            <!-- <div class="three wide column center">
              <%# number_to_currency(date.course.price, :precision => 2, :unit => "£")  %>
            </div>
            <%#if date.quantity == date.payments.count %>
              <div class="five wide column center">
                Sold Out!
              </div>
            <%# else %>
              <div class="five wide column center">
                <%# link_to "Book Date", new_payment_path(:id => date.id), :class => "ui positive labeled button" %>
              </div> -->
        </div>
        <div class="ui divider"></div>
      </li>

      <br>
      <% end %>
      <% end %>
      <ul>
    </div>
  </div>
  <!-- <div class="actions">
    <div class="ui black button">
      Nope
    </div>
    <button type='submit' form='ticket_form' class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </button>
  </div> -->
</div>