<div class="ui form" style="max-width: 73%; margin: auto;">
  <div class="field">
    <label>Course title <span style="font-weight: 100;">(max 30 characters)</span></label>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <label>Course description</label>
    <%= form.cktext_area :description, :id => "description" %>
  </div>
  <div class="field">
    <label>What to wear</label>
    <%= form.text_field :what_to_wear %>
  </div>
  <div class="field">
    <label>What to bring</label>
    <%= form.text_field :what_to_bring %>
  </div>
  <div class="field">
    <label>Experience needed</label>
    <%= form.text_field :experience %>
  </div>
  <div class="field">
    <label>Course Category</label>
    <%= form.select :category, options_for_select([["Arts & Crafts", "arts"], ["Food & Drink","food"],["Health & Wellbeing", "health"],["Music", "music"],["Outdoor Education", "outdoor"],["Other", "other"]])%>
  </div>
  <%= form.fields_for :course_addresses do |addresses_form| %>
	  <div class="two fields">
	  	<h3>Location</h3>
	    <div class="field">
	      <%= addresses_form.text_field :address1, :placeholder => 'Address 1'%>
	    </div>
	    <div class="field">
	      <%= addresses_form.text_field :address2, :placeholder => 'Addres 2' %>
	    </div>
	    <div class="field">
	      <%= addresses_form.text_field :city, :placeholder => 'City/Town' %>
	    </div>
	    <div class="field four wide">
	      <%= addresses_form.text_field :postcode, :placeholder => 'Postcode'%>
	    </div>
	  </div>
  <% end %>
  <div class="two fields">
    <div class="field">
      <h3>Age Needed?</h3>
      <%= form.check_box :age_needed %>
    </div>
    <div class="field">
      <h3>Private Course?</h3>
      <%= form.check_box :private %>
    </div>
  </div>
  <div class="field">
  	<h3>Upload image</h3>
  	<img id="blah" src="#" alt="" class="ui small bordered image" style="display:inline-block"/>
  	<%= form.file_field :avatar, :id => "imgInp" %>
    <%= image_tag @course.avatar.medium, :id => 'cropbox' %>
  	<%= form.hidden_field :avatar_cache %>
  </div>
</div>