<div class="ui form time-select" style="max-width: 85%; margin: auto;">
	<div class="four fields">
  	<h3>Date & time</h3>
  	<div class="field four wide">
  		<%= form.text_field :start_date, :placeholder => "11/02/2015"%>
  	</div>
  	<div class="field four wide">
  		<%= form.time_select :start_time, :class => "time-select" %>
  	</div>
  	<div class="field four wide">
  		<%= form.text_field :end_date, :placeholder => "11/02/2015" %>
  	</div>
  	<div class="field four wide">
  		<%= form.time_select :end_time %>
  	</div>
  </div>
</div>
<div class="ui divider" style="margin-top: 100px; margin-bottom: 25px;"></div>
<div class="ui circular labels">
  <a class="ui label" style="display:inline-block; font-size: 1.8571rem;">
    3
  </a>
  <h2 style="display:inline-block">Create Tickets</h2>
</div>
<%= form.fields_for :tickets do |builder| %>
  <%= render 'ticket_fields', form: builder %>
<% end %>