
<div class="ui segment orange raised" id="form-task">
	<div id="formdimmer" class="ui inverted dimmer">
		<div class="ui text loader small">
			Loading ...
		</div>
	</div>
	<%= form_for @course, :html => {:class => 'ui form fluid '} do |form|  %>

		<!-- <div class="ui error icon message">
		</div> -->
		<div id="out">	
			<div class="fields">

				<div class="ui field six wide" style="height: 300px; display:table">    
					<div class="buttons" style="display:table-cell; vertical-align:middle; text-align:center">
						<!-- this is the html used to upload the image however it does not attacth it properly, if i make it into a file_field ruby tag it doesnt want to work and I have no idea why, i have tried lots of ways but a lot of the time when i change the code it gets rid of the inline error messages. -->
						<%= form.file_field :image, :class => "ui primary button", :style => "display:block !important"%>				
					</div>
					<form id="form1" runat="server">
		        <input type='file' id="imgInp" />
		        <img id="blah" src="#" alt="your image" />
		    	</form>
				</div>  


				<div class="field ten wide">
					<div class="field">
						<div class="ui input">
							<%= form.text_field :name, :placeholder => 'Name'%>
							<div class="ui corner label">
								<i class="asterisk icon"></i>
							</div>
						</div>
					</div>
					<div class="field">
						<div class="ui input">
							<%= form.text_field :blurb, :placeholder => 'Tweetable Description'%>
							<div class="ui corner label">
								<i class="asterisk icon"></i>
							</div>
						</div>
					</div>

					<div class="field">
						<div class="ui label pointing below blue"><i class="icon asterisk"></i> Description </div>
						<%= form.cktext_area :description %>
					</div>
				</div>

				<%= form.fields_for :course_addresses do |addresses_form| %>
					<div class="field six wide">
						<label>Course Address</label>
						<div class="field twelve wide">
							<div class="ui input">
								<%= addresses_form.text_field :address1, :placeholder => 'Addres Line 1'%>
								<div class="ui corner label">
									<i class="asterisk icon"></i>
								</div>
							</div>
						</div>
						<div class="field twelve wide">
							<div class="ui input">
								<%= addresses_form.text_field :address2, :placeholder => 'Addres Line 2' %>
								<div class="ui corner label">
									<i class="asterisk icon"></i>
								</div>
							</div>
						</div>
						<div class="field twelve wide">
							<div class="ui input">
								<%= addresses_form.text_field :city, :placeholder => 'City' %>
								<div class="ui corner label">
									<i class="asterisk icon"></i>
								</div>
							</div>
						</div>
						<div class="field twelve wide">
							<div class="ui input">
								<%= render 'list_of_counties' %>
							</div>
						</div>
						<div class="field twelve wide">
							<div class="ui input">
								<%= addresses_form.text_field :postcode, :placeholder => 'Postcode'%>
								<div class="ui corner label">
									<i class="asterisk icon"></i>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				
				<div class="field ten wide">
					<label>What to Wear?</label>					
					<div class="field sixteen wide">
						<%= form.text_field :what_to_wear %>
					</div>					
				</div>
				<div class="field ten wide">
					<label>What to Bring?</label>					
					<div class="field sixteen wide">
						<%= form.text_field :what_to_bring %>
					</div>					
				</div>
				<div class="field ten wide">
					<label>Any Experience Needed?</label>					
					<div class="field sixteen wide">
						<%= form.text_field :experience %>
					</div>					
				</div>

				<div class="field">
					<label>Price (e.g. 75.00)</label>					
					<div class="inline field">
			      <label>£</label>
						<%= form.text_field :price, :placeholder => "£50.00"%>			      
			    </div>
				</div>
			</div>
		</div>

		<div class="ui segment">
			<div class="ui shape">
				<div class="sides">
					<div class="active side">
						<div class="field">
							<%= form.submit :style =>"float:right" %>					
						</div>
					</div>
					<div class="side">
						<div class="ui segment inverted green center aligned">
							<h1 class="ui header">
								<i class="icon checkmark sign"></i>
								Thank You!
							</h1>
						</div>
					</div>
				</div>
			</div>			
		</div>

	<% end %>
</div>

<script>
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgInp").change(function(){
        readURL(this);
    });
</script>