<div class="column thirteen wide">
	<div class="course-form" style="width: 80%; margin:auto">
	<%= form_for @course, :multipart => true, :html => {:class => 'ui form fluid '} do |form|  %>
		<div class="ui segment" style="display:block">
			<h2 style="display:inline-block">Create a course in 3 easy steps </h2>
			<div class="ui divider" style="margin-top: 50px; margin-bottom: 25px;"></div>
			<div class="ui circular labels">
			  <a class="ui label" style="display:inline-block; font-size: 1.8571rem;">1</a>
				<h2 style="display:inline-block">Course details</h2>
			</div>
				<%= render 'course_fields', form: form %>
				<div class="ui divider" style="margin-top: 100px; margin-bottom: 25px;"></div>
				<div class="ui circular labels">
				  <a class="ui label" style="display:inline-block; font-size: 1.8571rem;">2</a>
					<h2 style="display:inline-block">Create date</h2>
				</div>
				<%= form.fields_for :course_dates do |builder| %>
			    <%= render 'course_date_fields', form: builder %>
			  <% end %>
				<div class="ui segment no-box-shadow" style="margin-top: 40px;">
					<div class="ui dimmer courseLoader">
            <div class="ui indeterminate text loader">Creating Course</div>
          </div>
					<!-- <div id="terms" class="ui button labeled icon basic">
						<i class="icon pencil"></i>
						Terms & Conditions
					</div> -->
					<%= form.submit :id => "courseSubmit", :style =>"float:right; width:250px", :class => "ui inverted green button" %>
					<div class="ui error message" style="margin-top:50px;"></div>
				</div>
			<% end %>
		</div>
	</div>
</div>


<script>
	$('#courseSubmit').click(function() {
		$('.courseLoader').addClass('active');
	});
</script>

<script>
	function readURL(input) {
	  if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function (e) {
		    $('#blah').attr('src', e.target.result);
				}
	    reader.readAsDataURL(input.files[0]);
	  }
	}
	$("#imgInp").change(function(){
	    readURL(this);
	});
</script>