<%= render "crop_image_modal" %>
<div class="ui segment">
    <div class="ui circular labels" style="display:inline-block">
      <a class="ui label" style="display:inline-block; font-size: 1.8571rem;">
        3
      </a>
        <h2 style="display:inline-block">Preview Course details</h2>
    </div>
    <div class="edit-option-buttons">
        <%= form_for @course do |f| %>
            <% %w[x y w h].each do |attribute| %>
                <%# f.text_field "crop_#{attribute}", id: "crop_#{attribute}"%><br>
                <%= f.hidden_field "crop_#{attribute}" %>
            <% end %>
            <%= f.submit "Save", :class => "ui inverted green button", :style =>"float:right; width:150px"%>
        <% end %>
        <div id="cropModal" class="ui inverted blue button" style="float:right; width:150px">Crop</div>
        <%= link_to("Edit Text", edit_course_path(@course.id), :class => "ui inverted orange button", :style =>"float:right; width:150px") %>
    </div>
</div>
<div class="ui segment course-info" style="margin: 0px; background:none">
<div class="ui pusher stackable padded grid text">
       <%# render "book_date" %>
        <!-- LEFT CONTENT -->
        <div class="ten wide column" style="height:100%;">
            <div class="ui segment items">
                <div class="item">
                    <div class="image" style="width:300px;">
                        <%= image_tag(@course.avatar_url(:medium), :class => "ui medium rounded course-image" )%>
                    </div>
                    <div class="content centred">
                        <div class="ui list">
                            <div class="item">
                                <a><h3 class="ui header" style="font-size:2rem"><%= @course.name.capitalize %></h3></a>
                            </div>
                            <div class="item" style="padding: 0.72em 0em;">
                                <a style="font-size:1.5rem">
                                    <i class="calendar icon"></i><%= @course.upcoming_date.start_date.strftime("%A, %b %d") %>
                                </a>
                            </div>
                            <div class="item" style="padding: 0.72em 0em;">
                                <a style="font-size:1.5rem">
                                    <i class="clock icon"></i><%= @course.upcoming_date.start_time.strftime("%l:%M %p")%> - <%= @course.upcoming_date.end_time.strftime("%l:%M %p")%>
                                </a>
                            </div>
                            <div class="item" style="padding: 0.38em 0em;">
                              <a style="font-size:1.5rem; margin-left: 8px;">
                                <%= number_to_currency(@course.price, :precision => 2, :unit => "£")  %>
                              </a>
                            </div>
                        </div>
                        <!-- <br> -->
                        <div class="item secure">
                            <h6 class="secure-spot">SECURE A SPOT IN THIS COURSE</h6>
                        </div>
                        <div class="item">
                            <a><div id="course" class="massive ui button book-now positive">BOOK NOW</div></a>
                        </div>
                    </div> <!-- .content -->
                </div> <!-- .item -->
            </div> <!-- .ui.items -->
            <div class="ui segment items" style="margin-bottom: 1.5em !important;">
                <h3 class="ui header">ABOUT THIS COURSE</h3>
                <%= @course.description.html_safe%>
            </div>
        </div> <!-- .column -->
        <!-- END OF LEFT CONTENT -->
        <!-- RIGHT CONTENT -->
        <div class="six wide column">
            <div class="ui segment">
                <% @course.course_addresses.each do |address|%>
                <h5 class="ui top attached header address"><%= address.address1 %>, <%= address.address2 %>, <%= address.city %>, <%= address.postcode %></h5>
                <div class="ui attached segment map">
                  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{address.latitude}%2C#{address.longitude}", :class => "map_style" %>
                </div>
                <% end %>
                <div class="ui style fluid accordion">
                    <div class="title" style="border-bottom: 1px solid black">
                        <i class="dropdown icon"></i>
                        WHAT TO BRING?
                    </div>
                    <div class="content">
                        <p><%= @course.what_to_bring %></p>
                    </div>
                    <br>
                    <div class="title" style="border-bottom: 1px solid black">
                        <i class="dropdown icon"></i>
                        WHAT TO WEAR?
                    </div>
                    <div class="content">
                        <p><%= @course.what_to_wear %></p>
                    </div>
                    <br>
                    <div class="title" style="border-bottom: 1px solid black">
                        <i class="dropdown icon"></i>
                        EXPERIENCE NEEDED?
                    </div>
                    <div class="content">
                        <p><%= @course.experience %></p>
                    </div>
                </div>
            </div>
            <!-- END OF ACCORDION -->
            <!-- BROUGHT TO YOU BY -->
            <%= render "company_bio" %>
        </div> <!-- .column -->
    </div>
</div>