<div class="blue-background">
	<% if current_user.subscription_added == false  %>
			
		<h1>You have not yet added your subscription plan, please add this before you can create a course</h1>
		<a href="/plans">Subscriptions</a>

	<% else %>
		<h2 style="color: #192123; text-align: center; margin-top: 0px; font-weight: 100; border: 1px solid #192123; width: 253px; margin: auto; position: relative; top: 30px; border-radius: 34px;">PICKACOURSE</h2>  
		<%= form_for @course do |form|  %>

			<%= form.fields_for :need_to_wears do |ing| %>			
			 	<%= ing.label :name, "What to Wear" %>
			 	<%= ing.text_field :name %>	
			<% end %>
			<%= form.fields_for :brings do |ing| %>			
			 	<%= ing.label :name, "What to Bring" %>
			 	<%= ing.text_field :name %>	
			<% end %>		
			 			 
			<%= form.fields_for :course_addresses do |addresses_form| %>
				<%= addresses_form.label :address1, 'Address Line 1' %>				
        <%= addresses_form.text_field :address1 %>
        <br>
        <%= addresses_form.label :address2, 'Address Line 2' %>
        <%= addresses_form.text_field :address2 %>
        <br>
        <%= addresses_form.label :city %>
        <%= addresses_form.text_field :city %>
        <br>
        <%= addresses_form.label :county %>
        <%= addresses_form.text_field :county %>
        <br>
        <%= addresses_form.label :postcode %>
        <%= addresses_form.text_field :postcode %>
			<% end %>

			<%= form.hidden_field :user_id %>
			<div class="image-field">
			 <h1 style="text-align: center; margin-top: 60px; letter-spacing: 4px; color:#9c9c9b">JPG/PNG 2MB MAX</h1>
				<%= form.file_field :image, :style =>"margin: auto; position: relative; display: block; width: 187px;" %>
			</div>
			<div class="field"> 
				<%= form.label :name, 'TITLE OF YOUR COURSE' %>
				<%= form.text_field :name, :placeholder => 'Enter course title here - max 200 characters'%>
			</div>
			<div class="field"> 
				<%= form.label :blurb, 'TWEETABLE DESCRIPTION' %>
				<%= form.text_field :blurb, :placeholder => 'Max 120 chracters(we\'ll include a bit.ly to your course)', :style => "margin-left:11px;"  %>
			</div>
			<div class="field"> 					
		  	<%= form.cktext_area :description, :value => 'Default value', :id => 'sometext' %>
			</div>									
			<br>			
			<div class="bottom-field left" style="margin-top:20px; width:289px;"> 	
				<%= form.label :benefits, "BENEFTIS OF ATTENDING YOUR COURSE" %>				
					<%= form.text_field :benefits %>			
			</div>		
			<div class="bottom-field middle" style="margin-left: 333px; top: -157px; position: relative;">				
			</div>						
			<div class="bottom-field right" style="top:-375px">
				<%= form.label :need_to_wear, "WHAT DO ATTENDEES NEED TO WEAR?", :style => "text-align:center" %>			
				<%= form.text_field :need_to_wear %>
				<%= form.text_field :need_to_wear %>
				<%= form.text_field :need_to_wear %>
			</div>
			<%= form.submit "CREATE COURSE", :class => 'create-course-button' %>
		<% end %>
	<% end %>
</div>