<div class="blue-background">
	<% if all_user.subscription_added == false  %>
			
		<h1>You have not yet added your subscription plan, please add this before you can create a course</h1>
		<a href="/plans">Subscriptions</a>

	<% else %>
		<h2 style="color: #192123; text-align: center; margin-top: 0px; font-weight: 100; border: 1px solid #192123; width: 253px; margin: auto; position: relative; top: 30px; border-radius: 34px;">PICKACOURSE</h2>  
		<%= form_for @course do |form|  %>

			<%= form.hidden_field :user_id %>
			<div class="image-field">
			 <h1 style="text-align: center; margin-top: 60px; letter-spacing: 4px; color:#9c9c9b">JPG/PNG 2MB MAX</h1>
				<%= form.file_field :image, :style =>"margin: auto; position: relative; display: block; width: 187px;" %>
			</div>
			<div class="field"> 
				<%= form.label :name, 'TITLE OF YOUR COURSE' %>
				<%= form.text_field :name, :placeholder => 'Enter course title here - max 200 characters'%>
			</div>

			<div class="field"> 
				<%= form.label :blurb, 'TWEETABLE DESCRIPTION' %>
				<%= form.text_field :blurb, :placeholder => 'Max 120 chracters(we\'ll include a bit.ly to your course)', :style => "margin-left:11px;"  %>
			</div>
			<div class="field"> 				
				<%= form.text_area :description, :placeholder => 'Enter course description here', :style => "width:100%; height: 203px;" %>
			</div>

			<div class="bottom-field left" style="margin-top:9px;"> 				
				<%= form.label :address %>
				<%= form.text_area :address, :style => "width: 287px; height: 95px;"%>
			</div>			

			<div class="bottom-field middle"> 		
				<%= form.label :price, "COST TO ATTEND (Includes 4% admin fee)" %>
				<%= form.text_field :price, :placeholder => "£19.99" %>
			</div>
			<div class="bottom-field middle" style="display: table; position: relative; left: 28px;"> 		
				<%= form.label :date, "COURSE DATE" %>
				<%= form.datetime_select :Date, :start_year => Date.today.year %>	
			</div>
			<br>
			<div class="bottom-field right">
				<%= form.label :need_to_bring, "WHAT DO ATTENDEES NEED TO BRING?", :style => "text-align:center" %>
				<%= form.text_field :need_to_bring %>
				<%= form.text_field :need_to_bring %>
				<%= form.text_field :need_to_bring %>
			</div>

			<div class="bottom-field left" style="margin-top:20px; width:289px;"> 	
				<%= form.label :benefits, "BENEFTIS OF ATTENDING YOUR COURSE" %>
				<%= form.text_field :benefits %>
				<%= form.text_field :benefits %>
				<%= form.text_field :benefits %>				
			</div>		
			<div class="bottom-field middle" style="margin-left: 333px; top: -157px; position: relative;">
				
			</div>
			<div class="bottom-field middle" style="margin-left: 495px; top: -232px; position: relative;">
				<%= form.label :end_time, "ENDS AT" %>
				<%= form.time_select :end_time %>	
			</div>
			<div class="bottom-field middle" style="position: relative; display: table; margin-left: 333px; top: -202px;">
				<%= form.label :quantity, "MAXIMUM AMOUNT OF PEOPLE", :style => "display:inline-block" %>
				<%= form.text_field :quantity, :style => "width: 32px; left: 14px; position: relative;" %>
			</div>
			<div class="bottom-field right" style="top:-375px">
				<%= form.label :need_to_wear, "WHAT DO ATTENDEES NEED TO WEAR?", :style => "text-align:center" %>
				<%= form.text_field :need_to_wear %>
				<%= form.text_field :need_to_wear %>
				<%= form.text_field :need_to_wear %>
			</div>
			<%= form.submit "CREATE COURSE", :class => 'create-course-button' %>
		<% end %>



	<% end %>
</div>