<%= @course.name %>
<h1><%= @course.price %></h1>
<br>
<% if user_signed_in? %>
	<%= form_tag(course_update_quantity_path(@course), method: :put) do -%>
	  <div><%= submit_tag 'Book course' %></div>
	<% end %>
<% else %>
	<%= link_to('Login to Book course', new_user_session_path)  %>
<% end %>
<h3><%= @course.quantity %> places available</h3>
<h3> this course starts on the <%= @course.Date.strftime("%m/%d/%Y") %></h3>

 <%= link_to "Sign up", new_payment_path(:id => @course.id) %>