<%= @course.name %>
<h1>£<%= @course.price %></h1>
<br>
<%= @course.description%>
<% @course.need_to_wears.each do |course| %>
	<%if course.valid_entries(course) %>	
		<%= course.name %>		
	<% end %>
<% end %>
<% if signed_in? %>	
	<% hours = DateTime.now + 1 %>	
<% else %>
	<%= link_to('Login to Book course', new_user_session_path)  %>
<% end %>
<br>
<% @course.course_dates.each do |date|%>		
	<%if date.valid_dates(date)%>		
		<%= date.dates.strftime("%m/%d/%Y") %>	
			<% if date.quantity > 0 %>	
				<%= link_to "Book Course", new_payment_path(:id => date.id) %>	
			<% else %>
				<p> sold out</p>
			<% end %>
		<br>		
	<% end %>	
<% end %>

<br>
<%= link_to('add date',  new_course_course_date_path(@course.id))  %>


