<div class="ui segment course-info" style="margin: 0px; background:none">
<%= render "book_date" %>
<div class="ui pusher stackable padded grid text">
	   <%# render "book_date" %>
        <!-- LEFT CONTENT -->
        <div class="ten wide column" style="height:100%;">
            <div class="ui segment items">
                <div class="item">
                    <div class="image" style="width:300px;">
                        <%= image_tag(@course.avatar_url(:medium), :class => "ui medium rounded course-image" )%>
                    </div>
                    <div class="content centred">
                        <div class="ui list">
                            <div class="item">
                                <a><h3 class="ui header" style="font-size:2rem"><%= @course.name %></h3></a>
                            </div>
                            <h6 class="secure-spot">Next Date</h6>
                            <div class="item" style="padding: 0.72em 0em;">
                                <% if @course.upcoming_date == nil %>
                                    <a style="font-size:1.5rem">
                                        <i class="calendar icon"></i>No upcoming dates
                                    </a>
                                <% else %>
                                <a style="font-size:1.5rem">
                                    <i class="calendar icon"></i><%= @course.upcoming_date.start_date.strftime("%A, %b %d") %>
                                </a>
                                <% end %>
                            </div>
                            <div class="item" style="padding: 0.72em 0em;">
                                <% if @course.upcoming_date == nil %>

                                <% else %>
                                    <a style="font-size:1.5rem">
                                        <i class="clock icon"></i><%= @course.upcoming_date.start_time.strftime("%l:%M %p")%> - <%= @course.upcoming_date.end_time.strftime("%l:%M %p")%>
                                    </a>
                                <% end %>
                            </div>
                            <div class="item" style="padding: 0.38em 0em;">
                              <a style="font-size:1.5rem; margin-left: 8px;">
                                <%= number_to_currency(@course.upcoming_date_price, :precision => 2, :unit => "£")  %>
                              </a>
                            </div>
                        </div>
                        <!-- <br> -->
                        <div class="item secure">
                            <h6 class="secure-spot">SECURE A SPOT IN THIS COURSE</h6>
                        </div>
                        <div class="item">
                            <a href="#" id="bookNow"><div id="course" class="massive ui button book-now positive">BOOK NOW</div></a>
                        </div>
                    </div> <!-- .content -->
                </div> <!-- .item -->
            </div> <!-- .ui.items -->
            <div class="ui segment items" style="margin-bottom: 1.5em !important;">
                <h3 class="ui header">ABOUT THIS COURSE</h3>
                <%= @course.description.html_safe%>
            </div>
        </div> <!-- .column -->
        <!-- END OF LEFT CONTENT -->
        <!-- RIGHT CONTENT -->
        <div class="six wide column">
            <div class="ui segment">
                <% @course.course_addresses.each do |address|%>
                <h5 class="ui top attached header address"><%= address.address1 %>, <%= address.address2 %>, <%= address.city %>, <%= address.postcode %></h5>
                <div class="ui attached segment compass">
                  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{address.latitude}%2C#{address.longitude}", :class => "map_style" %>
                </div>
                <% end %>
                <div class="ui style fluid accordion">
                    <div class="title" style="border-bottom: 1px solid black">
                        <i class="dropdown icon"></i>
                        WHAT TO BRING?
                    </div>
                    <div class="content">
                        <p><%= @course.what_to_bring %></p>
                    </div>
                    <br>
                    <div class="title" style="border-bottom: 1px solid black">
                        <i class="dropdown icon"></i>
                        WHAT TO WEAR?
                    </div>
                    <div class="content">
                        <p><%= @course.what_to_wear %></p>
                    </div>
                    <br>
                    <div class="title" style="border-bottom: 1px solid black">
                        <i class="dropdown icon"></i>
                        EXPERIENCE NEEDED?
                    </div>
                    <div class="content">
                        <p><%= @course.experience %></p>
                    </div>
                </div>
            </div>
            <!-- END OF ACCORDION -->
            <!-- BROUGHT TO YOU BY -->
            <%= render "company_bio" %>
        </div> <!-- .column -->
    </div>
</div>