<div class="two column stackable ui grid dashboard course-details-dash" style="background-color: #36464f;">
	<div class="column four wide">
		<%= render "layouts/course_details_sidenav" %>
	</div>
	<div class="column twelve wide" style="background:white; min-height: 420px;">
		<div class="row" style="padding-bottom: 20px;">
			<h1 class="header">Booking Information</h1>
			<!-- <h3 class="header sub-heading">hello world</h3> -->
		</div>
		<div class="ui segment">
		  <div class="three column stackable ui grid">
		    <div class="column">
		      <%= @booking_date.booking.name %>
		    </div>
		    <div class="column">
		    	<%= @booking_date.course_date.course.address %>
		    </div>
		    <div class="column">
		    	<%= @booking_date.course_date.start_date.strftime("%d/%m/%Y") %>
		      <br>
		      <%= @booking_date.course_date.start_time.strftime("%l:%M %p") %>
		    </div>
		  </div>
		  <div class="column">
				<%= form_for [@booking_date], :multipart => true, :html => {:class => "ui form booking"} do |form| %>
					<%= form.label :course_date_id %>
					<%= form.select :course_date_id, options_from_collection_for_select(@course_dates, :id, "select_date", @booking_date.course_date_id), {}, {:class => 'ui dropdown date-select'}%>
					<%= form.submit %>
				<% end %>
		  </div>
		</div>
	</div>
</div>