<div class="two column stackable ui grid dashboard course-details-dash">
	<div class="column four wide">
		<%= render "layouts/course_details_sidenav" %>
	</div>
	<div class="column twelve wide">
		<div class="row" style="padding-bottom: 20px;">
			<h1 class="header"><%= @course_date.course.name %></h1>
			<h3 class="header sub-heading"><%= @course_date.start_date_time.strftime("%A, %d %b %Y %l:%M %p") %></h3>
		</div>
		<div class="ui pointing secondary menu">
	    <a class="active item" data-tab="first" style="width:50%; text-align:center;font-size: 18px;">Summary</a>
	    <a class="item" data-tab="second" style="width:50%%; text-align:center;font-size: 18px;">Attendees</a>
	  </div>
		<div class="ui active tab" data-tab="first">
			<%= render "summary" %>
		</div>
		<div class="ui tab" data-tab="second">
			<%= render "attendees" %>
		</div>
	</div>
</div>



