<div class="course-form" style="width: 80%; margin:auto">
		<%= form_for [@course, @course_date], :multipart => true, :html => {:class => 'ui form fluid '} do |course_date_form|  %>
	<div class="ui segment" style="display:block">
		<h2 style="display:inline-block">Edit course date </h2>
		<%= course_date_form.submit :style =>"float:right; width:250px; display:inline-block; margin: 2rem 0em", :class => "ui inverted green button" %>
		<div class="ui divider" style="margin-top: 50px; margin-bottom: 25px;"></div>
		<div class="ui circular labels">
		  <a class="ui label" style="display:inline-block; font-size: 1.8571rem;">
		    1
		  </a>
			<h2 style="display:inline-block">Course date</h2>
		</div>
			<div class="ui form edit-date" style="max-width: 73%; margin: auto;">
				<div class="four fields">
			  	<h3>Date & time</h3>
			  	<div class="field four wide">
			  		<%= course_date_form.text_field :start_date, :placeholder => "11/02/2015" %>
			  	</div>
			  	<div class="field four wide">
			  		<%= course_date_form.time_select :start_time %>
			  	</div>
			  	<div class="field four wide">
			  		<%= course_date_form.text_field :end_date, :placeholder => "11/02/2015" %>
			  	</div>
			  	<div class="field four wide">
			  		<%# course_date_form.time_select :end_time, :placeholder => "19:30" %>
			  		<%= course_date_form.time_select :end_time %>
			  	</div>
			  </div>
			  <%= course_date_form.fields_for :tickets do |builder| %>
			  	<% render 'ticket_fields_new', form: builder %>
		  	<% end %>
			</div>
			<div class="ui divider" style="margin-top: 100px; margin-bottom: 25px;"></div>
			<div class="ui segment">
				<%= course_date_form.submit :style =>"float:right; width:250px", :class => "ui inverted green button" %>
			</div>
		<% end %>
	</div>
</div>