<div class="ui special cards container course-dates">
    <% @course_dates.each do |course_date| %>

        <div class="card element-item">

            <div class="ui dimmable image">
              <% if course_date.full %>
                <a class="ui left red corner label" style="font-size: 1.5rem; text-align: left;">
                  <span style="font-size: 1rem; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(315deg); position: inherit; top: 30%;">
                    Sold out
                  </span>
                </a>
              <% end %>

                <!-- end of sold out banner -->
              <div class="ui dimmer">
                <div class="content">
                  <div class="ui list">
                    <div class="item"><i class="user icon"></i><%= course_date.course.user.company_name.truncate(27) %></div>
                    <div class="item"><i class="compass icon"></i><%= course_date.course.address.truncate(27) %></div>
                    <div class="item"><i class="tag icon"></i><%= course_date.course.category %></div>
                    <div class="item center">
                      <%= link_to("View Details", course_path(course_date.course), :class => "ui inverted button")%>
                    </div>
                  </div>
                </div>
              </div>
              <%= link_to (image_tag course_date.course.avatar_url(:medium), :style => "width:100%; vertical-align: top;"), course_path(course_date.course) %>
            </div>
            <div class="content">
              <%= link_to(course_date.course.name, course_path(course_date.course), :class => "header text", :style => "color: white; font-size: 1em;") %>
            </div>
            <div class="extra content">
              <span class="left floated like text" style="color: #cdc5ff;">
                <i class="calendar icon"></i>
                <%= course_date.start_date.strftime("%d, %b, %Y") %>
              </span>
            </div>
        </div>
    <% end %>
</div>
