<div class="ui pusher">
  <div id="filters" class="ui six column stackable grid category-buttons button-group" style="background: #35464f">
    <div class="column">
      <button class="ui inverted red button text is-checked" data-filter="*">All</button>
    </div>
    <div class="column">
      <button class="ui inverted yellow button text" data-filter=".arts">Arts & Crafts</button>
    </div>
    <div class="column">
      <button class="ui inverted blue button text" data-filter=".food">Food & Drink</button>
    </div>
    <div class="column">
      <button class="ui inverted orange button text" data-filter=".health">Health & Wellbeing</button>
    </div>
    <div class="column">
      <button class="ui inverted green button text" data-filter=".music">Music</button>
    </div>
    <div class="column">
      <button class="ui inverted purple button text" data-filter=".other">Other</button>
    </div>
  </div>
</div>
<div class="ui special cards container isotope">
    <% @course_dates.each do |course_date| %>

        <div class="card element-item <%= course_date.course.category %>" style="background-color:#36464f !important;">

            <div class="ui dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="ui list">
                    <div class="item"><i class="user icon"></i><%= course_date.course.user.company_name %></div>
                    <div class="item"><i class="map icon"></i><%= course_date.course.address.truncate(27) %></div>
                    <div class="item"><i class="tag icon"></i><%= course_date.course.category %></div>
                    <div class="item center" style="margin-top:25px;">
                      <%= link_to("View Details", course_path(course_date.course), :class => "ui inverted button")%>
                    </div>
                  </div>
                </div>
              </div>
              <%= link_to (image_tag course_date.course.avatar_url(:medium), :style => "width:100%; vertical-align: top;"), course_path(course_date.course) %>
            </div>
            <div class="content">
              <%= link_to(course_date.course.name, course_path(course_date.course), :class => "header text", :style => "color: white; font-size: 1em;") %>
            </div>
            <div class="extra content">
              <span class="left floated like text" style="color: #cdc5ff;">
                <i class="calendar icon"></i>
                <%= course_date.start_date.strftime("%d, %b, %Y") %>
              </span>
              <span class="right floated star text" style="color: #ffe400;">
                <%= number_to_currency(course_date.course.price, :precision => 2, :unit => "£")  %>
              </span>
            </div>
        </div>
    <% end %>
</div>
