<div class="course-form" style="width: 80%; margin:auto">
	<div class="ui segment" style="display:block">
	  <div class="column twelve wide">
	    <div class="ui segment">
				<div class="ui form time-select" style="max-width: 85%; margin: auto;">
					<%= form_for [@course, @course_date] do |form| %>
						<div class="four fields">
					  	<h3>Date & time</h3>
					  	<div class="field four wide">
					  		<%= form.text_field :start_date, :placeholder => "11/02/2015"%>
					  	</div>
					  	<div class="field four wide">
					  		<%= form.time_select :start_time, :class => "time-select" %>
					  	</div>
					  	<div class="field four wide">
					  		<%= form.text_field :end_date, :placeholder => "11/02/2015" %>
					  	</div>
					  	<div class="field four wide">
					  		<%= form.time_select :end_time %>
					  	</div>
					  </div>
				  	<%= form.fields_for :tickets do |builder| %>
					  	<% render 'ticket_fields_new', form: builder %>
				  	<% end %>
						<%= link_to_addd_fields "Add Tickets", form, :tickets %>
				  	<div class="field thirteen wide">
				  		<%= form.submit %>
				  	</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
