<div class="two column stackable ui grid" style="margin:0px;">
  <div class="column twelve wide">
    <div class="ui segment">
		<%= form_for [@course, @course_date] do |f| %>		
		
		
			<%= f.label :start_date %>
			<%= f.text_field :start_date %>				
			<%= f.time_select :start_time %>				
			
			<br>
			
			<%= f.label :end_date %>
			<%= f.text_field :end_date %>	
			<%= f.time_select :end_time %>				
			
		</div>
			<br>
			<%= f.label :quantity %>
			<%= f.text_field :quantity %>
			<br>
			<%= f.hidden_field :course_id %>		
			<%= f.submit %>
		<% end %>
		</div>
	</div>	
</div>