<div class="dash-sidenav">
	<div class="account">
    <div class=""><%= image_tag @user.avatar_url(:thumb), :class => "profile-pic"%></div>
    <div class="username"><%= @user.company_name %></div>
  </div>
  <div class="ui divider"></div>
   	<h3 class="summary-title">Booking Summary</h3>
  	<table class="ui table month-summary-table">
	  <tbody>
	    <tr>
	      <td>
	        <i class="ticket icon"></i> Tickets sold
	      </td>
	      <td><%= @payments.count %></td>
	    </tr>
	    <tr>
	      <td>
	        <i class="pound icon"></i> Revenue
	      </td>
	      <td><%= number_to_currency(@revenue , :precision => 2, :unit => "£")  %></td>
	    </tr>
	    <tr>
	      <td>
	        <i class="pound icon"></i> Fees
	      </td>
	      <td><%= number_to_currency(@user.fees , :precision => 2, :unit => "£")  %></td>
	    </tr>
	    <tr>
	      <td>
	        <i class="pound icon"></i> Net
	      </td>
	      <td><%= number_to_currency((@revenue - @user.fees) , :precision => 2, :unit => "£")  %></td>
	    </tr>
	  </tbody>
	</table>
	<div class="ui divider"></div>
	<div class="ui list">
	  <%= link_to("Edit Company Details", edit_user_path(@user.id), :class => "item", :style => "text-align:center; color:white;") %>
	</div>
</div>