<!DOCTYPE html>
<html>
<head>
  <title>CommunityMarketplace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application", "data-turbolinks-track" => true %>
	<%= tag :meta, :name => "stripe-key", :content => Rails.application.secrets.stripe_public_key %>
  <%= csrf_meta_tags %> 
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>  
</head>
<body>
  <!-- This is the whole sidenav -->
  <div class="sidebar">

    <!-- For the logo when we have one -->
    <div class="logo">
    </div>

    <!-- This is the sign in and sign up buttons at the top of the nav -->
    <div class="account-bar">
      <div class="login">
        <a class="login-text">LOG IN</a>
      </div>
      <div class="login">
        <a class="login-text">SIGN UP</a>
      </div>
    </div>


    <!-- This is where the list of catergories in the side nav begins -->
    <ul class="course-list">
      <li class="course-item" style="color:#df819b">
        <%= image_tag 'icon-burger.png', :class => "course-type-logo"%>        
        <span class="course-title">FOOD & DRINKS</span>
      </li>
      <li class="course-item" style="color:#6bb4b8">
        <%= image_tag 'icon-notes.png', :class => "course-type-logo"%>      
        <span class="course-title">MUSIC</span>
      </li>
      <li class="course-item" style="color:#f6b181">
        <%= image_tag 'icon-camera.png', :class => "course-type-logo"%>              
        <span class="course-title">PHOTOGRAPHY</span>
      </li>
      <li class="course-item" style="color:#b3ffc1">
        <%= image_tag 'icon-scissors.png', :class => "course-type-logo"%>              
        <span class="course-title">ARTS & CRAFTS</span>
      </li>
      <li class="course-item" style="color:#ac8cc8">
        <%= image_tag 'icon-lotus.png', :class => "course-type-logo"%>              
        <span class="course-title">WELLBEING</span>
      </li>
      <li class="course-item" style="color:#d2cb6c">
        <%= image_tag 'icon-directions.png', :class => "course-type-logo"%>              
        <span class="course-title">UNCATEGORIZED</span>
      </li>
    </ul>



    <!-- This is the button to view a list of all the course providers -->
    <div class="course-provider">
      <h5 class="provider-link">Course Providers</h5>
    </div>


    <!-- This is the overlay for the 3 social networks -->
    <div class="social-networks">
      <%= image_tag 'instagram-white.png', :class => "social-button"%>
      <%= image_tag 'twitter-white.png', :class => "social-button"%>
      <%= image_tag 'facebook-white.png', :class => "social-button"%>            
    </div>


    <!-- This is the footer for all the links that need to be available to users -->
    <ul class="footer">
      <li class="footer-item">About us</li>
      <li class="footer-item">Contact us</li>
      <li class="footer-item">Pricing</li>
      <li class="footer-item">Terms & Privacy</li>
      <li class="footer-item">The Team</li>
      <li class="footer-item">FAQ</li>
    </ul>
  </div>

  <!-- All the content that isnt sidenav is wrapped in the content class -->
  <div class="content">
	  <%= yield %>	      
  </div>	          
</body>
</html>
