<!DOCTYPE html>
<html>
<head>
  <title>CommunityMarketplace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application", "data-turbolinks-track" => true %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %> 
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
    <div id="left">    
      <div class="side-nav">
        <h2 style="color:#89b160; text-align:center; margin-bottom:0px;">PICKACOURSE</h2>  
        <div class="account">   
          <% if signed_in? %>
          <div class=""><%= image_tag all_user.avatar.url(:thumb), :class => "profile-pic" %></div>          
          <div class="username"><%= all_user.first_name%> <%= all_user.last_name%></div>     
          <%= link_to('DASHBOARD', user_dashboard_index_path(all_user),:class => "logged-in-buttons dashboard") %>
            <%= link_to('LOG OUT', destroy_user_session_path, :method => :delete, :class => "logged-in-buttons logout") %>
          <% else %>
            <%= link_to('LOG IN', new_user_session_path,:class => "account-buttons login") %>          
            <a class="account-buttons signup" href="/users"> SIGN UP</a>              
          <% end %>        
        </div>
        <div class="courses">
          <div class="course-section">
            <a href="/courses">
              <%= image_tag 'icon-burger.png', :class => "course-type-logo"%>
              <h5 class="course-type-title pink">FOOD & DRINK</h5>
            </a>
          </div>
          <div class="course-section">
            <a href="/courses">
              <%= image_tag 'icon-notes.png', :class => "course-type-logo"%>
              <h5 class="course-type-title blue">MUSIC</h5>
            </a>
          </div>
          <div class="course-section">
            <a href="/courses">
              <%= image_tag 'icon-camera.png', :class => "course-type-logo"%>
              <h5 class="course-type-title orange">PHOTOGRAPHY</h5>
            </a>
          </div>
          <div class="course-section">
            <a href="/courses">
              <%= image_tag 'icon-scissors.png', :class => "course-type-logo"%>
              <h5 class="course-type-title green">ARTS & CRAFTS</h5>
            </a>
          </div>
          <div class="course-section">
            <a href="/courses">
              <%= image_tag 'icon-lotus.png', :class => "course-type-logo"%>
              <h5 class="course-type-title purple">WELLBEING</h5>
            </a>
          </div>
          <div class="course-section">
            <a href="/courses">
              <%= image_tag 'icon-directions.png', :class => "course-type-logo"%>
              <h5 class="course-type-title yellow">UNCATEGORIZED</h5>
            </a>
          </div>        
        </div>
        <div class="course-provider-button">          
          <%= link_to('COURSE PROVIDERS', users_course_providers_path, :class => "provider") %>          
        </div>
      </div>
    </div>
    <div id="right">      
			<%= yield %>	      	      
    </div>    
  </div>
	</div>
</body>
</html>
