<!DOCTYPE html>
<html>
<head>
  <title>CommunityMarketplace</title>
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
	<%= tag :meta, name: "stripe-key", content: ENV['RAILS_ENV'] == 'production' ? ENV['PUBLISHABLE_KEY'] : Rails.application.secrets.stripe_public_key %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <script type="text/javascript" src="assets/javascripts/isotope-docs.min.js"></script>
</head>
<body>
  <!-- This is the whole sidenav -->
  <div class="mobile">
    <%= render "templates/mobile_header" %>
  </div>
  <div class="web">
    <%= render "templates/web_header" %>
  </div>

  <div class="ui bottom attached segment" style="background: #f9fafc;">
    <div class="ui labeled icon left inline vertical sidebar menu" style="width:260px; padding-top: 50px;">
      <% if signed_in? %>
        <%= link_to("<i class='sign in icon'></i>Log out".html_safe, destroy_user_session_path, :method => :delete, :class => "open_item", :style => "color: #4A90E2;") %>
        <% if current_user.admin? %>
          <%= link_to( "<i class='user icon'></i>Dashboard".html_safe, dashboard_path, :class => "open_item item", :style => "color: #4A90E2;") %>
        <% end %>
      <% else %>
        <a class="open_item item" style="color: #4A90E2;" id="signIn">
          <i class="user icon"></i>
          Sign in
        </a>
        <%= link_to("<i class='sign in icon'></i>Sign up".html_safe, new_user_registration_path, :class => "open_item item", :style => "color: #4A90E2;") %>
      <% end %>
      <a class="open_item item" href="/course_dates" style="color: #4A90E2;">
        <i class="smile icon"></i>
        Courses
      </a>
      <%= link_to("About", about_path, :class => "open_item item", :style => "color: #4A90E2;") %>
    </div>

  <!-- All the content that isnt sidenav is wrapped in the content class -->
      <div class="pusher right-side" style=" width: 100%; min-height: 100%; height: 100%; position: relative; margin: 0 auto; background: #f9fafc">
        <div class="content-container" style="">
          <%= render "devise/sessions/sign_in" %>
          <%= yield %>
          <%= render "templates/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
