<!DOCTYPE html>
<html>
  <head>
    <title>CommunityMarketplace</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application", "data-turbolinks-track" => true %>
  	<%= tag :meta, :name => "stripe-key", :content => Rails.application.secrets.stripe_public_key %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>
    	body{

    		}
    	}
    </style>
  </head>
  <body class="list-body" style="background:white;">
  	<div class="course-date-list">
	  	<div class="ui grid course-date-title">
	  		<div class="three wide column">
	  			<div class="ui segment info center">
	  				Date & Time
	  			</div>
	  		</div>
	  		<div class="seven wide column title top">
	  			<div class="ui segment info">
	  				Courses & Events
	  			</div>
	  		</div>
	  		<div class="three wide column title">
	  			<div class="ui segment info center">
	  				Price And Tickets
	  			</div>
	  		</div>
	  		<div class="three wide column">
	  		</div>
	  	</div>
	  		<% @user.courses.each do |course| %>
	  			<% course.upcoming_dates.each do |date| %>
	  			<div class="ui grid course-date">
					    <div class="three wide column center" style="padding-left:0px;">
					    	<div class="ui segment center no-box-shadow-web">
								  <%= date.start_date.strftime("%A, %d %b %Y") %>
								  <br>
					    		<%= date.start_time.strftime("%l:%M %p") %> to <%= date.end_time.strftime("%l:%M %p") %>
				    		</div>
					    </div>
					    <div class="seven wide column top" style="padding-left: 0.5rem;">
					    	<div class="ui segment no-box-shadow-web" style="background: #f1f2f2">
								  <p><%= course.name %></p>
								  <!-- <br> -->
								  <p><%= course.address %></p>
								</div>
					    </div>
					    <div class="three wide column">
					    	<div class="ui segment center no-box-shadow-web" style="background:#fff6ca">
					    		<div class="column" style="display:inline-block; width:47%;">
						    		<%= number_to_currency(course.price, :precision => 2, :unit => "£")  %>
						    	</div>
						    	<div class="column" style="display:inline-block; width:50%; text-align:right">
						    		<%= date.places_left %> Left
						    	</div>
						    </div>
					    </div>
					    <div class="three wide column top actions" style="padding-right:0px;">
								<%= link_to "BOOK NOW", new_payment_path(:id => date.id), :class => "ui blue button text", :target => "_blank", :style => "width:90%"%>
								<br>
								<i class="info circle icon" id="flip-<%= date.id %>" style="float:left; margin-top:2px;"></i>Course Details
					    </div>
					    <div id="panel-<%= date.id %>" class="ui segment panel">
					    	<h3> Description</h3>
					    	<%= course.description.truncate(300).html_safe %>
					    	<br>
					    	<%= link_to "View More Details...", course_path(date.course), :class => "ui blue panel button", :target => "_blank" %>
					    </div>
					  </div>
				  	<script>
							$(document).ready(function(){
							    $("#flip-<%= date.id %>").click(function(){
							        $("#panel-<%= date.id %>").slideToggle("slow", function() {
										    // $("#flip-<%= date.id %>").text($(this).is(':visible') ? "Hide" : "Show");
										  });
							    });
							});
						</script>
						<style>
							#panel-<%= date.id %>{
							  padding: 50px;
							  display: none;
							  font-size: 15px;
							  margin-top: -3px;
							  margin-left: 14px;
							  margin-right: 14px;
							  padding-top: 10px;
							  padding-bottom: 15px;
							  margin-bottom: 13px;
							}
						</style>
			    <% end %>
			  <% end %>
	  	</div>
	  </div>
  </body>
</html>